* {
    font-family: "Cabin", sans-serif;
    font-style: normal;

}
.logo {
    font-family: "Lobster", sans-serif;
}

footer h1{
    background-color: #df3bb1;
    padding: 50px;
    text-align: center;

}

.row img{
    width: 50px;
    padding: 0 70% 0 0;
    margin: 0;

}

.row h1{
    padding: 0;
    margin: 0;
    text-align: right;
}

.newsletter button {
    background-color: white;
    color: #e74c3c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}