/* General Styles */
* {
    font-family: "Cabin", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: "Lobster", sans-serif;
}

/* Footer Styles */
footer h1 {
    background-color: #df3bb1;
    padding: 50px;
    text-align: center;
}

/* Image and Text Styles */
.row .imagen {
    width: 100%;
    height: auto;
}

.row h1 {
    text-align: right;
    margin-bottom: 10px;
}

/* Button Styles */
.btn {
    margin-top: 10px;
}

.newsletter button {
    background-color: white;
    color: #e74c3c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Tooltip Styles */
[data-bs-toggle="tooltip"] {
    cursor: pointer;
}
